<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
	<table width="950">
		<tr>
			<th scope="col"><img src="../images/possible-header-girls-sawing.jpg" width="950" height="250" alt="header" /></th>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img src="../images/footer-chanel-store.jpg" width="950" height="250" alt="footer-chanel-store" /></td>
		</tr>
	</table>
</body>
</html>
